# Dependencies
node_modules
package-lock.json

# Build outputs
dist
dist-ssr
stats.html

# Environment files
*.local
.env.local
.env.*.local

# Editor directories and files
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
.history

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output
test-results

# Cache
.cache
.vite
.lh
.eslintcache

# OS
Thumbs.db
